<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhasya</title>
    <link rel="shortcut icon" href="./Resource/logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c4cb78a369.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./nav.css">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./downgrid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Pacifico&family=Caveat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main-page flex-container">
        {{> navbar }}
        <div class="rightcon">
            <header class="header">
                <div class="left">
                    <div class="welcome">
                        Welcome,&nbsp;{{{ user.name }}}
                    </div>
                    <div class="lan">
                        Want to Learn:
                        <select name="lan" class="select" id="lan">
                            <option value="English">
                                English
                            </option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="right">
                    <a href="/">
                        <h1 class="APPNAME">
                            B<span class="hasya">hasya</span>
                        </h1>
                    </a>
                </div>
            </header>
            <main>
                <div class="maincon">
                    <div class="status">
                        <div class="statusboxs cyan">
                            <div class="sbox">Total Clips Watch <div class="nbx numbersfonts">{{{user.userRecordId.overall.totalClips}}}</div>
                            </div>
                        </div>
                        <div class="statusboxs blue">
                            <div class="sbox">Total Watch Time<div class="nbx numbersfonts">{{{user.userRecordId.overall.totalTimeSpent}}}</div>
                            </div>
                        </div>
                        <div class="statusboxs purple">
                            <div class="sbox">Total Test<div class="nbx numbersfonts">{{{user.userRecordId.overall.totalExams}}}</div>
                            </div>
                        </div>
                        <div class="statusboxs yellow">
                            <div class="sbox">Total Score<div class="nbx numbersfonts">{{{user.userRecordId.overall.totalScore}}}</div>
                            </div>
                        </div>
                        <div class="statusboxs pink">
                            <div class="sbox">Streak<div class="nbx numbersfonts">{{{user.userRecordId.overall.longestStreak}}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="downcard">
                        <div class="grid-container">
                            <div class="card clips">
                                <a href="./index.html" class="acard clipscard"></a>
                                <div class="card-content clipcc">
                                    <p>Let's See Todays Special</p>
                                </div>
                            </div>
                            <div class="card exam">
                                <a href="./index.html" class="acard examcard"></a>
                                <div class="card-content examcc">
                                    <p>Let's Cook In Test.</p>
                                </div>
                            </div>
                            <div class="card badge">
                                <a href="/user" class="acard bedcard"></a>
                                <div class="card-content bedcc">
                                    <p>Badges</p>
                                </div>
                            </div>
                            <div class="card history">
                                <a href="/user" class="acard hiscard"></a>
                                <div class="card-content hiscc">
                                    <p>History</p>
                                </div>
                            </div>
                            <div class="card progress">
                                <a href="/user" class="acard procard"></a>
                                <div class="card-content procc">
                                    <p>Progress</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="footer-links">
                    <a href="https://github.com/ItsJESH/Bhasya?tab=MIT-1-ov-file">&copy; 2025 Bhasya All rights reserved.</a>
                    <span>|</span>
                    <a href="https://github.com/ItsJESH/Bhasya" target="_blank" class="footer-link">Github</a>
                    <span>|</span>
                    <a href="https://bhasya.hashnode.dev/" target="_blank" class="footer-link">Blog</a>
                    <span>|</span>
                    <a href="https://www.instagram.com/jenish.1911/m" target="_blank" class="footer-link">Instagram</a>
                </div>
            </footer>
        </div>
        
    </div>



</body>

</html>